
{% extends "base/main.html" %}
{% load static %}
{% block css_content %}
    <link rel="stylesheet" href="{% static 'cssfile/dishcreate.css' %}">	
{% endblock css_content %}
{% block content %}
<div class="container">
	<div class="text">
	  Create  Room
	</div>
	<form class="login" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% for f in form %}
            {% if forloop.counter|divisibleby:2 %}
                </div> 
                <div class="form-row"> 
            {% elif forloop.counter == 1 %}
                <div class="form-row">
            {% endif %}
            
            <div class="input-data">
                {{ f }}
                <div class="underline"></div>
                <label for="">{{ f.label }}</label>
            </div>
    
            {% if forloop.last %}
                </div> 
            {% endif %}
        {% endfor %}
        
        <div class="form-row submit-btn">
            <div class="input-data">
                <div class="inner"></div>
                <input type="submit" value="submit">
            </div>
        </div>
    </form>
    
    <h2><a href="{% url 'home' %}">Go back</a></h2>
                </div>
{% endblock content %}








