{% extends "base/main.html" %}
{% block css_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'cssfile\login_page.css' %}">
{% endblock css_content %}
{% block content %}
<div class="login_page">
	<div class="screen">
		<div class="screen__content">
			<form class="login" method="POST" action="" enctype="multipart/form-data">
				{% csrf_token  %}
				<div>
					{% include "base/messages.html" %}
				</div>
                
                {% for f in form %}       
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					{{f}}
				</div>
				{% endfor %}  
				<button class="button-85" id="btn1">submit	</button>
                   
			</form>
			
					
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
{% endblock content %}