.card{
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 360px;
  display: flex;
  margin:220px auto;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
}
.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  top: 15px;
  left: 85px;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-position: bottom center;
  background-size: cover;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition:.5s;
  &:hover{
    color: #4CAF50  ;
    transform: rotate(22deg)
  }
}












.room-image img{
  width:130px;
}
.room-box{
  display:flex;
  padding:30px;
  background-color:grey;
  margin:30px;
  flex-direction:row;
  flex-wrap:wrap;
}
.room-box *{
  margin: 20px;
}
.room-name{
font-size:30px;

}
.room-info{
display:inline;

}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-image: linear-gradient(
  to right bottom,
  #b91eda,
  #a02ae0,
  #8234e5,
  #5d3be8,
  #1241eb
);
 font-family: Arial, Helvetica, sans-serif;
display: grid;
place-items: center;
min-height: 100vh;
}

.container {
background-color: white;
position: relative;
display: grid;
grid-template-columns: 300px 600px;
border-radius: 5px;
box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
margin: 100px;
img {
width: 300px;
height: 300px;
border-radius:5px 0 0 5px;
}
.btn {
position: absolute;
bottom: -20px;
right: -20px;
border: none;
outline: none;
display: flex;
align-items: center;
background-color: #fc9400;
color: white;
padding: 22px 45px;
font-size: 1rem;
text-transform: uppercase;
border-radius: 5px;
cursor: pointer;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
i {
margin-left: 20px;
font-size: 1.5rem;
}
}
}
.book-info{
display:flex;
}
.book-info *{
margin:10px; 
}
.container__text {
padding: 40px 40px 0;
display:FLEX;
flex-direction:column;
flex-wrap:WRAP;
}  
h1 {
color: black;
font-weight: 400;
}
.container__text__star span {
font-size: 0.8rem;
color: #ffa800;
margin: -5px 0 20px;
}
p {
font-size: 0.9rem;
}
.container__text__timing {
display: flex;
margin: 20px 0 10px;
.container__text__timing_time {
margin-right: 40px;
}
h2 {
margin-bottom: 5px;
font-size: 1rem;
font-weight: 400;
color: #818189;
}
p {
color:black;
font-weight: bold;
font-size: 1.2rem;
}
}

.image-logo *{
width: 40px;
 font-size:15px;
margin:0 20px;
}
.card{
margin-bottom:0px;
}

.container__text__timing_time p{
margin-bottom: 5px;
font-size:20px;
font-weight: 400;
color: #040423;
}
.time-data{
  display:flex;
  justify-content:space-evenly;
  margin:10px;
}